#iginore
.vs
Library
ProjectSettings
Temp
ARGame.csproj
ARGame.Editor.csproj
ARGame.Editor.Plugins.csproj
ARGame.Plugins.csproj
ARGame.sln
Publish
abRes
Packages
obj
ARGame\Assets\StreamingAssets\Assetbundles
*.csproj
*.sln
